apiWSDLs/Service References/srvRefContRefSidesData/CNTV04.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd1="http://www.CNTV04I.com/schemas/CNTV04IInterface" xmlns:xsd2="http://www.CNTV04O.com/schemas/CNTV04OInterface" xmlns:tns="file://target.files" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" name="CNTV04" targetNamespace="file://target.files" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:cbl="http://www.CNTV04I.com/schemas/CNTV04IInterface" attributeFormDefault="qualified" elementFormDefault="unqualified" targetNamespace="http://www.CNTV04I.com/schemas/CNTV04IInterface">
      <xsd:complexType name="COMMAREA02">
        <xsd:sequence>
          <xsd:element form="unqualified" name="arc_gpsbin_comm">
            <xsd:annotation>
              <xsd:appinfo source="http://www.wsadie.com/appinfo">
                <initialValue kind="SPACE" />
              </xsd:appinfo>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="9" />
                <xsd:whiteSpace value="collapse" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="COMMAREA02" type="cbl:COMMAREA02">
        <xsd:annotation>
          <xsd:documentation source="com.ibm.etools.xmlent.batch">11.3.100.V20191001_0406</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:schema>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:cbl="http://www.CNTV04O.com/schemas/CNTV04OInterface" attributeFormDefault="qualified" elementFormDefault="unqualified" targetNamespace="http://www.CNTV04O.com/schemas/CNTV04OInterface">
      <xsd:complexType name="COMMAREA">
        <xsd:sequence>
          <xsd:element minOccurs="3" maxOccurs="3" form="unqualified" name="buffer_01" type="cbl:Commarea_buffer__01" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Commarea_buffer__01">
        <xsd:sequence>
          <xsd:element form="unqualified" name="comm_area_01">
            <xsd:annotation>
              <xsd:appinfo source="http://www.wsadie.com/appinfo">
                <initialValue kind="SPACE" />
              </xsd:appinfo>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="80" />
                <xsd:whiteSpace value="collapse" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="COMMAREA" type="cbl:COMMAREA">
        <xsd:annotation>
          <xsd:documentation source="com.ibm.etools.xmlent.batch">11.3.100.V20191001_0406</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="CNTV04OperationRequest">
    <wsdl:part name="COMM-AREA-02Part" element="xsd1:COMMAREA02" />
  </wsdl:message>
  <wsdl:message name="CNTV04OperationResponse">
    <wsdl:part name="COMM-AREAPart" element="xsd2:COMMAREA" />
  </wsdl:message>
  <wsdl:portType name="CNTV04PortType">
    <wsdl:operation name="CNTV04Operation">
      <wsdl:input name="CNTV04OperationRequest" message="tns:CNTV04OperationRequest" />
      <wsdl:output name="CNTV04OperationResponse" message="tns:CNTV04OperationResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CNTV04Binding" type="tns:CNTV04PortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CNTV04Operation">
      <soap:operation soapAction="urn:CNTV04" style="document" />
      <wsdl:input name="CNTV04OperationRequest">
        <soap:body use="literal" parts="COMM-AREA-02Part" />
      </wsdl:input>
      <wsdl:output name="CNTV04OperationResponse">
        <soap:body use="literal" parts="COMM-AREAPart" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CNTV04Service">
    <wsdl:port name="CNTV04Port" binding="tns:CNTV04Binding">
      <soap:address location="http://10.240.240.202:22222/rdz/CNTV04" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>