apiWSDLs/Service References/srvRefNationalData/CNTV02.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd1="http://www.CNTV02I.com/schemas/CNTV02IInterface" xmlns:xsd2="http://www.CNTV02O.com/schemas/CNTV02OInterface" xmlns:tns="file://target.files" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" name="CNTV02" targetNamespace="file://target.files" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:cbl="http://www.CNTV02I.com/schemas/CNTV02IInterface" attributeFormDefault="qualified" elementFormDefault="unqualified" targetNamespace="http://www.CNTV02I.com/schemas/CNTV02IInterface">
      <xsd:complexType name="COMMAREA">
        <xsd:sequence>
          <xsd:element form="unqualified" name="buffer_01" type="cbl:commarea_buffer__01" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="commarea_buffer__01">
        <xsd:sequence>
          <xsd:element form="unqualified" name="comm_area_01">
            <xsd:annotation>
              <xsd:appinfo source="http://www.wsadie.com/appinfo">
                <initialValue kind="SPACE" />
              </xsd:appinfo>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="14" />
                <xsd:whiteSpace value="collapse" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element form="unqualified" name="comm_area_011">
            <xsd:annotation>
              <xsd:appinfo source="http://www.wsadie.com/appinfo">
                <initialValue kind="SPACE" />
              </xsd:appinfo>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="236" />
                <xsd:whiteSpace value="collapse" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="COMMAREA" type="cbl:COMMAREA">
        <xsd:annotation>
          <xsd:documentation source="com.ibm.etools.xmlent.batch">11.3.100.V20191001_0406</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:schema>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:cbl="http://www.CNTV02O.com/schemas/CNTV02OInterface" attributeFormDefault="qualified" elementFormDefault="unqualified" targetNamespace="http://www.CNTV02O.com/schemas/CNTV02OInterface">
      <xsd:complexType name="COMMAREA2">
        <xsd:sequence>
          <xsd:element form="unqualified" name="ws_arc_insnum_comm">
            <xsd:annotation>
              <xsd:appinfo source="http://www.wsadie.com/appinfo">
                <initialValue kind="SPACE" />
              </xsd:appinfo>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="250" />
                <xsd:whiteSpace value="collapse" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="COMMAREA2" type="cbl:COMMAREA2">
        <xsd:annotation>
          <xsd:documentation source="com.ibm.etools.xmlent.batch">11.3.100.V20191001_0406</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="CNTV02OperationRequest">
    <wsdl:part name="COMM-AREAPart" element="xsd1:COMMAREA" />
  </wsdl:message>
  <wsdl:message name="CNTV02OperationResponse">
    <wsdl:part name="COMM-AREA-2Part" element="xsd2:COMMAREA2" />
  </wsdl:message>
  <wsdl:portType name="CNTV02PortType">
    <wsdl:operation name="CNTV02Operation">
      <wsdl:input name="CNTV02OperationRequest" message="tns:CNTV02OperationRequest" />
      <wsdl:output name="CNTV02OperationResponse" message="tns:CNTV02OperationResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CNTV02Binding" type="tns:CNTV02PortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CNTV02Operation">
      <soap:operation soapAction="urn:CNTV02" style="document" />
      <wsdl:input name="CNTV02OperationRequest">
        <soap:body use="literal" parts="COMM-AREAPart" />
      </wsdl:input>
      <wsdl:output name="CNTV02OperationResponse">
        <soap:body use="literal" parts="COMM-AREA-2Part" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CNTV02Service">
    <wsdl:port name="CNTV02Port" binding="tns:CNTV02Binding">
      <soap:address location="http://10.240.240.202:22222/rdz/CNTV02" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>