vt_nationalAuthority/Service References/COVER_WSDL/CNTV05.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd1="http://www.CNTV05I.com/schemas/CNTV05IInterface" xmlns:xsd2="http://www.CNTV05O.com/schemas/CNTV05OInterface" xmlns:tns="file://target.files" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" name="CNTV05" targetNamespace="file://target.files" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:cbl="http://www.CNTV05I.com/schemas/CNTV05IInterface" attributeFormDefault="qualified" elementFormDefault="unqualified" targetNamespace="http://www.CNTV05I.com/schemas/CNTV05IInterface">
      <xsd:complexType name="COMMAREA2">
        <xsd:sequence>
          <xsd:element form="unqualified" name="ws_arc_insnum_comm">
            <xsd:annotation>
              <xsd:appinfo source="http://www.wsadie.com/appinfo">
                <initialValue kind="SPACE" />
              </xsd:appinfo>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="9" />
                <xsd:whiteSpace value="collapse" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="COMMAREA2" type="cbl:COMMAREA2">
        <xsd:annotation>
          <xsd:documentation source="com.ibm.etools.xmlent.batch">11.3.100.V20191001_0406</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:schema>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:cbl="http://www.CNTV05O.com/schemas/CNTV05OInterface" attributeFormDefault="qualified" elementFormDefault="unqualified" targetNamespace="http://www.CNTV05O.com/schemas/CNTV05OInterface">
      <xsd:complexType name="COMMAREA">
        <xsd:sequence>
          <xsd:element minOccurs="2" maxOccurs="2" form="unqualified" name="buffer_01" type="cbl:Commarea_buffer__01" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Commarea_buffer__01">
        <xsd:sequence>
          <xsd:element form="unqualified" name="comm_area_01">
            <xsd:annotation>
              <xsd:appinfo source="http://www.wsadie.com/appinfo">
                <initialValue kind="SPACE" />
              </xsd:appinfo>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="120" />
                <xsd:whiteSpace value="collapse" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="COMMAREA" type="cbl:COMMAREA">
        <xsd:annotation>
          <xsd:documentation source="com.ibm.etools.xmlent.batch">11.3.100.V20191001_0406</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="CNTV05OperationRequest">
    <wsdl:part name="COMM-AREA-2Part" element="xsd1:COMMAREA2" />
  </wsdl:message>
  <wsdl:message name="CNTV05OperationResponse">
    <wsdl:part name="COMM-AREAPart" element="xsd2:COMMAREA" />
  </wsdl:message>
  <wsdl:portType name="CNTV05PortType">
    <wsdl:operation name="CNTV05Operation">
      <wsdl:input name="CNTV05OperationRequest" message="tns:CNTV05OperationRequest" />
      <wsdl:output name="CNTV05OperationResponse" message="tns:CNTV05OperationResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CNTV05Binding" type="tns:CNTV05PortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CNTV05Operation">
      <soap:operation soapAction="urn:CNTV05" style="document" />
      <wsdl:input name="CNTV05OperationRequest">
        <soap:body use="literal" parts="COMM-AREA-2Part" />
      </wsdl:input>
      <wsdl:output name="CNTV05OperationResponse">
        <soap:body use="literal" parts="COMM-AREAPart" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CNTV05Service">
    <wsdl:port name="CNTV05Port" binding="tns:CNTV05Binding">
      <soap:address location="http://10.240.240.202:22222/rdz/CNTV05" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>